<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/zumwani/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Zumwani" />
      <add key="ClearTextPassword" value="72667818beb122bcb741fd2aa684cee7cac423e8" />
    </github>
  </packageSourceCredentials>
</configuration>